html,
body {
    font-family: "Segoe UI Regular", "Segoe UI" !important;
}

select {
    width: 270px !important;
}

button {
    margin-top: 70px;
    width: 100px;
    height: 32px;
    outline: none !important;
    border: none !important;
    margin-left: -325px;
    font-weight: bold !important;
}

#tablaResult {
    width: 600px;
    font-size: 15px;
    margin-top: 120px;
    float: right;
    position: absolute;
    right: 150px;
    top: 10px;
    empty-cells: hide;
    border-collapse: separate;
    border-spacing: 5px;
    border: none !important;
}

.espacioTd {
    border-color: transparent !important;
    border-right-color: #dddddd !important;
    border-bottom-color: #dddddd !important;
}

#act_in {
    width: 700px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    empty-cells: hide;
    border-collapse: separate;
    border-spacing: 5px;
}

#mostrarGeneral {
    margin-left: -50px;
}

div.form-group.form-control-sm {
    margin-left: -25px;
}

.tdTitulos {
    width: 150px;
    background-color: #77777785;
    border: none !important;
    font-weight: bold;
    color: black;
    font-size: 14px !important;
    border-radius: 3px;
}

.tdCoaching {
    background-color: #7a7979e0;
    border: none !important;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
}

.resultados {
    border: none !important;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: black;
    font-size: 16px !important;
}

.agenAct {
    background-color: #77777785;
    border: none !important;
    font-weight: bold;
    color: black;
    font-size: 15px !important;
    border-radius: 3px;
    letter-spacing: 2px;
    width: 350px !important;
}

.agenInact {
    background-color: #77777785;
    border: none !important;
    font-weight: bold;
    color: black;
    font-size: 15px !important;
    border-radius: 3px;
    letter-spacing: 2px;
    width: 350px !important;
}

.tdActivos {
    border-radius: 3px;
}

.tdInactivos {
    border-radius: 3px;
}

.resultSelect {
    text-transform: uppercase;
}

.calendarioIndividual {
    margin-left: -20px !important;
}

#btnIndividual {
    margin-left: 385px;
    margin-top: -48px;
    width: 100px;
    height: 32px;
    outline: none !important;
    border: none !important;
    font-weight: bold !important;
}

.divIndividual {
    margin-top: 25px !important;
}

#respInd {
    margin-left: -18px;
}

.usuarioE {
    margin-top: 15px;
}