html,
body {
    font-family: "Segoe UI Regular", "Segoe UI" !important;
}

#tabladinamicaload {
    margin: 0 auto !important;
    width: 900px !important;
    text-align: center;
    margin-bottom: 45px !important;
    margin-top: 90px !important;
    empty-cells: hide;
    border-collapse: separate;
    border-spacing: 5px;
    border: none !important;
}

.tdTitulo {
    background-color: #7a7979e0;
    border: none !important;
    letter-spacing: 5px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    height: 30px;
}

.tdEncabezados {
    background-color: #77777785;
    border: none !important;
    font-weight: bold;
    color: black;
    font-size: 15px !important;
    border-radius: 3px;
    letter-spacing: 2.5px;
    width: 350px !important;
    height: 25px;
}

.usuarioE {
    margin-top: 15px;
}